body {
    /* background-image: url("https://www.muralswallpaper.com/app/uploads/scientific-chalkboard-childrens-plain-820x532.jpg"); */
    background-color: rgb(104, 163, 202);
    font: bold; color: rgb(255, 30, 0);
   }

#thechalkboard {
    background-image: url("https://cdn.shopify.com/s/files/1/2675/9056/products/lanter2_2048x.jpg?v=1515699000");
    align-items: center;
}

html body {
    background-image: url("https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg")

}

#centered {
    text-align: center;
}